.notification
{
    padding:.5rem;
    background-color: rgb(74, 121, 74);
    position:fixed;
    bottom:5px;
    left:20px;
    min-width: 300px;
    opacity: .7
}

.notification-message
{
    padding:.5rem;
    background-color: lightgreen;

    margin: 0;
    color:darkgreen;
    font-weight:700;
}