h2,h4
{
    margin:0;
    font-weight: 500;
}

.diets
{
    max-width: 800px;
    margin: 0 auto;
    padding:2rem;
}
.diets--created
{
    margin-bottom: 30px;;
}
.dietCard
{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 10px -5px 11px 0px rgba(212,208,212,1);
    -moz-box-shadow: 10px -5px 11px 0px rgba(212,208,212,1);
    box-shadow: 10px -5px 11px 0px rgba(212,208,212,1);
    background-color: #faf5fa;
    padding-bottom: 1rem;;
    margin-top: 1rem;;
}
.dietCard ul
{
    padding:1rem;
    
}
.dietCard  h2
{
    align-self: center;
    font-size: 1.3rem;
}
.dietCard .button
{
    align-self: center;
}

.dietCard ul li
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.dietCard ul li h4
{
    color:gray;
    text-transform:capitalize;
}
.btn-particular
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}

.deleted
{
    max-width:800px;
    padding:1.5rem;
    background-color: red;
    color:white;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;

}
.wantSimilarDiets
{
    color:orange;
    max-width:800px;
    margin: 0 auto;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    padding:1rem;
    
}
.quantity
{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 10px -5px 11px 0px rgb(250, 184, 158);
    -moz-box-shadow: 10px -5px 11px 0px rgb(250, 184, 158);
    box-shadow: 10px -5px 11px 0px rgb(250, 184, 158);
    background-color: #ff9d6f;
    padding-bottom: 1rem;;
    margin-top: 1rem;;
    

}
.quantity p
{
    font-size: 1.5rem;
    color:black
}
.similar
{
    width:100px;
    padding:.5rem;
    font-size: 1rem;
    background-color: lightgreen;
    border-radius: 20px;;
    color:white
}
.noSimilar
{
    font-size: 1.5rem;
    background-color: rgb(218, 50, 21);
    color:white;
    font-weight: 600;
    padding: 1rem;
    margin:0 auto;
    text-align: center;
}
.quantity-box
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    padding:2rem;


}
.quantity-box button{
    margin-left: 10px;
    margin-top: 10px;
    align-self: center;

}
fieldset.MuiFormControl-root.diet-details-input
{
    margin: 10px;
}
.createDietPlan
{
    border:1px solid Green;
    padding:1rem;
    max-width: 400px;
    position: relative;
    left:12%;

}
.import
{
    display:flex;
    padding:1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:400px;
    margin: 0 auto;;
}
.button-import
{
    position: relative;
    background-color: white;
    color:orange;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    left:40%;
}
.import button
{
    border:none;
    padding:.5rem .8rem;
    background-color:gray;
    color:white;
    margin-top: 10px;
    position:relative;
    left:-40px;
    


}
@media screen and (max-width:600px) {
    .dietCard h2
    {
        font-size: 1rem;

    }
    h4
    {
        font-size: .8rem;
    }
    .import button
    {
          position:relative;
         
    }
}