@import "./styles/home.css";
@import "./styles/dietCard.css";
@import "./styles/notification.css";
@import "./styles/navigation.css" ;
.heading
{
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}